<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User Form</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Blogly</h1>
    <h2>Create a User</h2>
    <form action="/users/new" method="POST">
        <p>First Name <input name="first-name" placeholder="Enter first name"></p>
        <p>Last Name <input name="last-name" placeholder="Enter last name"></p>
        <p>Image URL <input name="image-url" placeholder="Enter profile picture URL"></p>
        <button>Add</button>
    </form>
</body>
</html> 