<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Detail</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Blogly Post</h1>
    <h2>{{post.title}}</h2>
    <p>{{post.content}}</p>
    <i>By {{post.user.first_name}} {{post.user.last_name}}</i> <br> <br>
    <a href="/" class="button-link">Cancel</a>
    <a href="/posts/{{post.id}}/edit" class="button-link">Edit</a>
    <a href="/posts/{{post.id}}/delete" class="button-link">Delete</a>
</body>
</html>