<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tag Edit Form</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Blogly</h1>
    <h2>Edit Tag</h2>
    <form action="/tags/{{tag.id}}/edit" method="POST">
        <p>Name <input name="name" value="{{tag.name}}"></p>
        <a href="/tags" class="button-link">Cancel</a>
        <button>Edit</button>
    </form>
</body>
</html>