<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogly User</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Blogly User</h1>
    <h2>{{user.first_name}} {{user.last_name}}</h2>
    <img src="{{user.image_url}}">
    
    <form action="/users/{{user.id}}/delete" method="POST">
        <a href="/users/{{user.id}}/edit" class="button-link">Edit</a>
        <button>Delete</button>
    </form>

</body>
</html>