<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogly User</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Blogly User</h1>
    <img id="user-image" src="{{user.image_url}}">

    <section id="user-detail-text">
        <h2>{{user.first_name}} {{user.last_name}}</h2>
        
        <form action="/users/{{user.id}}/delete" method="POST">
            <a href="/users/{{user.id}}/edit" class="button-link">Edit</a>
            <button>Delete</button>
        </form>

        <h3>Posts</h3>
        {% for post in user.posts %}
        <ul>
            <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        </ul>
        {% endfor %}
        <a href="/users/{{user.id}}/posts/new" class="button-link">Add post</a>
    </section>  
</body>
</html>